.fullpage {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 700px;
  background-color: #ffffff;
  color: #111133;
  font-family: Georgia, serif;
  font-weight: 300;
}

.header {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.header > h1, h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
}

.footer {
  padding: 10px;
  font-size: small;
  text-align: right;
}

@media all and (max-width: 500px) {
  .header {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#response {
  color: #ff1111;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
